In [17]:
import pandas as pd
import re

In [39]:
# Se carga el CSV como dataset
bacteria_composition_df = pd.read_csv('/Users/alejandra/UNIR/TFM/analyses-bacteria-composition.csv', sep = ';',
                                     usecols = ['Bacteria', 'Aliquot barcode mirna seq', 'Relative abundance'],
                                     dtype = {'Bacteria': str, 'Aliquot barcode mirna seq': str})

In [31]:
bacteria_composition_df.head(5)

          Bacteria     Aliquot barcode mirna seq  Relative abundance
0  Actinomycetales  TCGA-BH-A0RX-01A-21R-A085-13            0.160804
1  Actinomycetales  TCGA-A8-A07R-01A-21R-A035-13            0.329167
2  Actinomycetales  TCGA-AC-A6IV-01A-12R-A33A-13            0.137374
3  Actinomycetales  TCGA-AO-A0JI-01A-21R-A057-13            0.247059
4  Actinomycetales  TCGA-A2-A3XX-01A-21R-A23A-13            0.136170

In [33]:
# Patrón de expresión regular para extraer subcadena hasta "01A", "01B", "11A" O "11B" 
pattern = re.compile(r'^(.*?(01[AB]|11[AB]))')

# Función para extraer la subcadena necesaria para cruzar con los otros dos datasets
def extract_substring_aliquot(s):
    match = pattern.match(s)
    if match:
        return match.group(1)
    return s
    
bacteria_composition_df['Aliquot barcode mirna seq'] = bacteria_composition_df['Aliquot barcode mirna seq'].apply(extract_substring_aliquot)

bacteria_composition_df.head(5)

          Bacteria Aliquot barcode mirna seq  Relative abundance
0  Actinomycetales          TCGA-BH-A0RX-01A            0.160804
1  Actinomycetales          TCGA-A8-A07R-01A            0.329167
2  Actinomycetales          TCGA-AC-A6IV-01A            0.137374
3  Actinomycetales          TCGA-AO-A0JI-01A            0.247059
4  Actinomycetales          TCGA-A2-A3XX-01A            0.136170

Con el nuevo formato de la columna 'Aliquot barcode mirna seq' ya se puede cruzar la información con los otros dos datasets. Se genera un nuevo CSV con la modificación realizada.

In [37]:
bacteria_composition_df.to_csv('bacteria_composition_modified.csv', index = False)